* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*=======================
  Universtal Styling
=========================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Script;
  padding: 30px 15px;

}

h1 { margin: 100px 0 0 0;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #ff107d;
    background-color: black;
    font-style: italic;
}

p,
ul {
  font-family: helvetica;
}

p {
    padding: 1px 30px 10px 30px;
    line-height: 26px;
    margin:0;
}

blockquote {
  float: right;
  width: 275px;
  text-align: right;
  font-size: 130:;
  font-style: italic;
  font-family: Georgia'
  margin: 20px 0px 20px 10px;
  padding: 10px 0;
  border-top: 1px solid #ff107d;
  border-bottom: 1px solid #ff107d;
}

.bold-pink {
  color: #ff107d;
  font-weight: bold;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

.cake-images {
    border-bottom: 1px;
    padding-bottom: 10px;
    position: absolute;
    display: inline;
    float: right;


}

.cake-images img {
  padding-top: 25px;
    max-height: 400px;


}

/*=====================
  Header
=========================*/

header {
    background: white;
    padding: 20px;
    heigh: 100px;
    position: relative;
    top: 0px;
    width: 100%;

}

header nav {
  background: white;
  width: 100%;
  font-family: Helvetica;
  padding: 45px 0px 0px 0px;
  position: fixed;


}

header nav ul li {
    display: inline;
    padding: 0 15px;

}

header nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 10px;
    text-transform: uppercase;
    transition: .5s;
    width: 100px;


}

nav a:hover {
  background: black;
  color: #ff107d;
  transition: .5s;
}

.logo-container,
header nav {
    display: inline-block;
    vertical-align: middle;

}

/*=====================
  Animation
=========================*/

.dclogo {
  position: absolute;
  top: 730px;
  left: 0px;
  animation: drive 15s forwards infinite linear;

}

@keyframes drive {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(1000px);
  }
}
